@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    @apply hidden;
}

* {
    font-family: 'Noto Sans', sans-serif;
}


.modal-content {
    z-index: 100;
    /* Đảm bảo rằng modal content luôn ở trên các phần tử khác */
    pointer-events: auto;
    /* Đảm bảo modal nhận sự kiện chuột */
}

/* Ngăn chặn việc chọn văn bản toàn trang khi modal mở */
.modal-open {
    user-select: none;
    /* Vô hiệu hóa việc chọn văn bản */
}

/* Lớp spinner của Tailwind */
.animate-spin {
    animation: spin 1s linear infinite;
    opacity: 0.4;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .text-sm {
        font-size: 12px;
    }

    .py-3 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .header {
        display: none; 
      }
}

