@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Noto Sans', sans-serif;
}

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}

@media (max-width: 740px) {
    .active p {
        @apply text-white bg-primary;
    }
}

.app-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 8px;
  }
  
  .filters {
    margin-top: 20px;
  }
  
  .filter-options {
    margin-top: 10px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .calendar-container {
    margin-bottom: 20px;
  }
  
  .events-section {
    margin-top: 20px;
  }
  
  .event {
    margin-bottom: 15px;
  }
  
  .event-time {
    font-weight: bold;
  }
  
  .event-title {
    font-size: 1.1rem;
  }
  
  .event-description {
    font-size: 0.9rem;
    color: #555;
  }
  
  .appointments-container {
    max-height: 555px; /* Chiều cao tối đa */
    overflow-y: auto; /* Kích hoạt thanh cuộn dọc */
    scrollbar-width: thin; /* Thanh cuộn mỏng (Firefox) */
    scrollbar-color: gray #f0f0f0; /* Màu thanh cuộn (Firefox) */
  }
  
  .appointments-container::-webkit-scrollbar {
    width: 8px; /* Độ rộng thanh cuộn */
  }
  
  .appointments-container::-webkit-scrollbar-thumb {
    background-color: gray; /* Màu thanh cuộn */
    border-radius: 4px; /* Góc tròn */
  }
  
  .appointments-container::-webkit-scrollbar-track {
    background: #f0f0f0; /* Màu nền track */
  }
  

