@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Noto Sans', sans-serif;
}

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}

@media (max-width: 740px) {
    .active p {
        @apply text-white bg-primary;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .doctor-selection,
  .calendar-selection,
  .time-selection {
    margin-bottom: 20px;
  }
  
  .time-selection ul {
    list-style-type: none;
    padding: 0;
  }
  
  .time-selection li {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  
  .time-selection li:hover {
    background-color: #e0e0e0;
  }
  
  .appointment-summary {
    margin-top: 20px;
  }
  