@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans', sans-serif;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
}

.filters {
  margin-top: 20px;
}

.filter-options {
  margin-top: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.calendar-container {
  margin-bottom: 20px;
}

.events-section {
  margin-top: 20px;
}

.event {
  margin-bottom: 15px;
}

.event-time {
  font-weight: bold;
}

.event-title {
  font-size: 1.1rem;
}

.event-description {
  font-size: 0.9rem;
  color: #555;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #e2e8f0;
  /* Màu thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a5568;
  /* Màu thanh trượt */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0;
}

/* Căn giữa nội dung của cột bác sĩ theo chiều dọc */
.fc-timeline-resource-cell {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100%; /* Đảm bảo rằng chiều cao của cell đủ lớn để căn giữa */
}

/* Đảm bảo hình ảnh bác sĩ cũng căn giữa theo chiều dọc */
.fc-timeline-resource-cell img {
  vertical-align: middle; /* Căn giữa hình ảnh theo chiều dọc */
}

.fc-event {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* code chữ chạy đổi màu */
.marquee-text {
  font-size: 15px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    color: #00759c;
  }

  50% {
    opacity: 1;
    color: darkorange;
  }

  100% {
    opacity: 1;
    color: #00759c;
  }
}